body{
    margin: 0;
    text-align: center;
    font-family: 'Reem Kufi Fun', sans-serif;
}
h1, h2, h3{
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}
.top-container{
    padding-top: 100px;
    background-color: #CDF0EA;
}
.middle-container{
}
.bottom-container{
}
.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}