body{
    margin: 0;
    font-size: 1rem;
    text-align: center;
    font-family: 'Reem Kufi Fun', sans-serif;
    color: #40514E;
}
h1{
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
    margin: 50px auto 0 auto;
    font-family: 'Raleway', sans-serif;
}
h2{
    font-weight: normal;
    font-size: 2.5rem;
    color: #66BFBF;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}
h3{
    color: #11999E;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
}
a{
    margin: 10px 20px;
    color: #11999E;
    text-decoration: none;
}
hr{
    width: 4%;
    margin: 100px auto;
    border: 6px dotted #EAF6F6;
    border-bottom: none;
}
p{
    line-height: 2;
}
.top-container{
    padding-top: 100px;
    background-color: #CDF0EA;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    padding: 50px 0 20px;
    background-color: #66BFBF;
}
.contact-me{
    height: 200px;
    margin: auto;
}
.footer-link{
    color: #11999E;
}
.footerpar{
    margin: auto;
    color: #EAF6F6;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
.skill1{
    width: 30%;
    margin-right: 30px;
    float: left;
}
.skill2 {
    width: 30%;
    margin-left: 30px;
    float: right;
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 500px;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}